{% extends "dashboard.html" %}
{% load static%}

{% block title %}
	<title>Formulas</title>
{% endblock title %}
{% block titulohoja%}
	<h2 class="titulo">Formulas</h2>
{% endblock titulohoja %}



{% block areatrabajo%}

<link rel="stylesheet" href="{%static 'formula.css'%}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script src="{% static 'formula.js' %}"></script>

<div class="compact-form-container">
    <form  id="formulario" class="compact-form" action="{% url 'guardar_datos'%}" method="post">
        {% csrf_token%}
        <div class="form-row">
            <label for="codig">Codigo:</label>
            <input type="number" id="Codig" name="codig" required>
        </div>
        <div class="form-row">
            <label for="nombre">Nombre:</label>
            <input type="text" id="Nombre" name="nombre" required>
        </div>
        <div class="form-row">
            <label for="costinderec">Costos Indirectos:</label>
            <input type="number" id="C_indirecto" name="costinderec" required>
        </div>
        <div class="form-row">
            <label for="utilidad">% Utilidad:</label>
            <input type="number" id="Utilidad" name="Utilidad">
        </div>
        <div class="form-row">
            <label for="V_Iva"> % Valor IVA:</label>
            <input type="number" id="V_Iva" name="V_Iva">
        </div>
        <div class="form-row">
            <button  class="enviar" type="submit">Guardar Formula</button>
        </div>
    </form>
</div>


<select class="js-example-basic-single"  id="materias">
    <option value="">Seleccione las Materias Primas </option>
    {% for producto in productos %}
    <option value="{{producto.cod_inventario}}" data-precio = "{{precio_unitario}}">{{producto.nombre}}</option>
    {%endfor%}
</select>

<div class= "tabla">
    <table class="table" id="tabla-formulario">
        <thead class="table">
            <tr class="encabezado">
                <td>Id Materia Prima</td>
                <td> Nombre </td>
                <td>Cantidad</td>
                <td>Precio unitario</td>
                <td>Opciones</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td>     
                </td>
            </tr>
        </tbody>
    </table>	
    
</div>

{%endblock %}





{%block javascrips%}
<script>
    var ver = "{% url 'ver'%}"
    var guardar = "{%url 'guardar_datos'%}"

</script>

{%endblock javascrips%}