{% extends "dashboard.html" %}
{% load static%}
{% load humanize %}

{% block title %}
	<title>Formulas</title>
{% endblock title %}
{% block titulohoja%}
	<h2 class="titulo">Formulas</h2>
{% endblock titulohoja %}



{% block areatrabajo%}
<link rel="stylesheet" href="{% static 'verformula3.css'%}">



<div class= "tabla">
    <table class="table" id="tabla-formulario">
        <thead class="table">
            <tr class="encabezado">
                <td>Id Producto</td>
                <td> Nombre </td>
                <td>Opciones</td>
        </thead>
        <tbody>
            {% for formula in formulas %}
            <tr>
                <td>{{formula.cod_inventario.cod_inventario}}</td>
                <td>{{formula.nombre}}</td>
                <td><a href="#" class="open-modal" data-modal-target="#viewModal{{ forloop.counter }}"><i class="bi bi-eye-fill"></i></a>
                    <a href="#" class="open-modal" data-modal-target="#editModal{{ forloop.counter }}"><i class="bi bi-pencil-square"></i></a>
                </td>
            </tr>
            {%endfor%}
        </tbody>
    </table>	
    
</div>
{%for formula in formulas%}
<div id="viewModal{{ forloop.counter }}" class="modal">
    <div class="modal-content">
        <span class="close-modal">&times;</span>
        <!-- Contenido del modal de vista -->
        <h2>{{formula.nombre}}</h2>
        
        <div class="compact-data-container">
            
            <div class="data-item">
                <label for="codig">Codigo:</label>
                <span>{{formula.cod_inventario.cod_inventario}}</span>
            </div>
            <div class="data-item">
                <label for="costinderec">Costos Indirectos:</label>
                <span>{{formula.costosindirectos}}</span>
            </div>
            <div class="data-item">
                <label for="utilidad">% Utilidad:</label>
                <span>{{formula.pocentajeutilidad}}</span>
            </div>
            <div class="data-item">
                <label for="V_Iva">% Valor IVA:</label>
                <span>{{formula.porcentajeiva}}</span>
            </div>
            <div class="data-item">
                <label for="iva_Costo"> Iva Costo:</label>
                <span>{{ formula.iva_costo|floatformat:"2"|intcomma }}</span>
            </div>
            <div class="data-item">
                <label for="ST_costo"> SubTotal Costo:</label>
                <span>{{ formula.subtotal_costo|floatformat:"2"|intcomma }}</span>
            </div>
            <div class="data-item">
                <label for="T_costo"> Total Costo:</label>
                <span>{{ formula.total_costo|floatformat:"2"|intcomma }}</span>
            </div>
            <div class="data-item">
                <label for="ST_Venta"> SubTotal venta:</label>
                <span>{{ formula.subtotal_venta|floatformat:"2"|intcomma }}</span>
            </div>
            <div class="data-item">
                <label for="utilidad_bruta"> Ganancia:</label>
                <span>{{formula.utilidad_bruta|floatformat:"2"|intcomma}}</span>
            </div>
            <div class="data-item total-venta">
                <label for="T_Venta"> Total venta:</label>
                <span>{{ formula.total_venta|floatformat:"2"|intcomma }}</span>
            </div>
            
        
        </div>
        <div class= "tabla">
            <table class="table" id="tabla-formulario">
                <thead class="table">
                    <tr class="encabezado">
                        <td>Id Producto</td>
                        <td> Nombre </td>
                        <td>Cantidad</td>
                        <td>Costo unitario</td>
                </thead>
                <tbody>
                    {% if formula.materia1 or formula.nombre_mp1 or formula.cant_materia1 or formula.costo_unitario1 %}
                    <tr>   
                        <td>{{formula.materia1}}</td>
                        <td>{{formula.nombre_mp1}}</td>
                        <td>{{formula.cant_materia1}}</td>
                        <td>{{formula.costo_unitario1}}</td>
                    </tr>
                    {% endif %}
                    {% if formula.materia2 or formula.nombre_mp2 or formula.cant_materia2 or formula.costo_unitario2 %}
                    <tr>   
                        <td>{{formula.materia2}}</td>
                        <td>{{formula.nombre_mp2}}</td>
                        <td>{{formula.cant_materia2}}</td>
                        <td>{{formula.costo_unitario2}}</td>
                    </tr>
                    {% endif %}
                    {% if formula.materia3 or formula.nombre_mp3 or formula.cant_materia3 or formula.costo_unitario3 %}
                    <tr>   
                        <td>{{formula.materia3}}</td>
                        <td>{{formula.nombre_mp3}}</td>
                        <td>{{formula.cant_materia3}}</td>
                        <td>{{formula.costo_unitario3}}</td>
                    </tr>
                    {% endif %}
                    {% if formula.materia4 or formula.nombre_mp4 or formula.cant_materia4 or formula.costo_unitario4 %}
                    <tr>   
                        <td>{{formula.materia4}}</td>
                        <td>{{formula.nombre_mp4}}</td>
                        <td>{{formula.cant_materia4}}</td>
                        <td>{{formula.costo_unitario4}}</td>
                    </tr>
                    {% endif %}
                    {% if formula.materia5 or formula.nombre_mp5 or formula.cant_materia5 or formula.costo_unitario5 %}
                    <tr>   
                        <td>{{formula.materia5}}</td>
                        <td>{{formula.nombre_mp5}}</td>
                        <td>{{formula.cant_materia5}}</td>
                        <td>{{formula.costo_unitario5}}</td>
                    </tr>
                    {% endif %}
                    {% if formula.materia6 or formula.nombre_mp6 or formula.cant_materia6 or formula.costo_unitario6 %}
                    <tr>   
                        <td>{{formula.materia6}}</td>
                        <td>{{formula.nombre_mp6}}</td>
                        <td>{{formula.cant_materia6}}</td>
                        <td>{{formula.costo_unitario6}}</td>
                    </tr>
                    {% endif %}
                    {% if formula.materia7 or formula.nombre_mp7 or formula.cant_materia7 or formula.costo_unitario7 %}
                    <tr>   
                        <td>{{formula.materia7}}</td>
                        <td>{{formula.nombre_mp7}}</td>
                        <td>{{formula.cant_materia7}}</td>
                        <td>{{formula.costo_unitario7}}</td>
                    </tr>
                    {% endif %}
                    {% if formula.materia8 or formula.nombre_mp8 or formula.cant_materia8 or formula.costo_unitario8 %}
                    <tr>   
                        <td>{{formula.materia8}}</td>
                        <td>{{formula.nombre_mp8}}</td>
                        <td>{{formula.cant_materia8}}</td>
                        <td>{{formula.costo_unitario8}}</td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>	
            
        </div>
    </div>
</div>
{%endfor%}
{%for formula in formulas%}
<div id= "editModal{{ forloop.counter }}" class="modal">
    <div class="modal-content">
        <span class="close-modal">&times;</span>
        <!-- Contenido del modal de vista -->
        <h2>{{formula.nombre}}</h2>
        
        <div class="compact-data-container">
            
            <div class="data-item">
                <label for="codig">Codigo:</label>
                <span>{{formula.cod_inventario.cod_inventario}}</span>
            </div>
            <div class="data-item">
                <label for="costinderec">Costos Indirectos:</label>
                <input type="number" id="costos{{ forloop.counter }}" value="{{ formula.costosindirectos }}">
            </div>
            <div class="data-item">
                <label for="utilidad">% Utilidad:</label>
                <input type="number" id="utilidad{{ forloop.counter }}" value="{{ formula.pocentajeutilidad }}">
            </div>
            <div class="data-item">
                <label for="V_Iva">% Valor IVA:</label>
                <input type="number" id="iva{{ forloop.counter }}" value="{{ formula.porcentajeiva }}">
            </div>
            <div class="data-item">
                <label for="iva_Costo"> Iva Costo:</label>
                <span>{{ formula.iva_costo|floatformat:"2"|intcomma }}</span>
            </div>
            <div class="data-item">
                <label for="ST_costo"> SubTotal Costo:</label>
                <span>{{ formula.subtotal_costo|floatformat:"2"|intcomma }}</span>
            </div>
            <div class="data-item">
                <label for="T_costo"> Total Costo:</label>
                <span>{{ formula.total_costo|floatformat:"2"|intcomma }}</span>
            </div>
            <div class="data-item">
                <label for="ST_Venta"> SubTotal venta:</label>
                <span>{{ formula.subtotal_venta|floatformat:"2"|intcomma }}</span>
            </div>
            <div class="data-item">
                <label for="utilidad_bruta"> Ganancia:</label>
                <span>{{formula.utilidad_bruta|floatformat:"2"|intcomma}}</span>
            </div>
            <div class="data-item total-venta">
                <label for="T_Venta"> Total venta:</label>
                <span>{{ formula.total_venta|floatformat:"2"|intcomma }}</span>
            </div>
            
        
        </div>
        <div class= "tabla">
            <table class="table" id="tabla-formulario">
                <thead class="table">
                    <tr class="encabezado">
                        <td>Id Producto</td>
                        <td> Nombre </td>
                        <td>Cantidad</td>
                        <td>Costo unitario</td>
                </thead>
                <tbody>
                    {% if formula.materia1 or formula.nombre_mp1 or formula.cant_materia1 or formula.costo_unitario1 %}
                    <tr>   
                        <td>{{formula.materia1}}</td>
                        <td>{{formula.nombre_mp1}}</td>
                        <td><input type="number" id="cantidad{{ forloop.counter }}" value="{{ formula.cant_materia1 }}"></td>
                        <td>{{formula.costo_unitario1}}</td>
                    </tr>
                    {% endif %}
                    {% if formula.materia2 or formula.nombre_mp2 or formula.cant_materia2 or formula.costo_unitario2 %}
                    <tr>   
                        <td>{{formula.materia2}}</td>
                        <td>{{formula.nombre_mp2}}</td>
                        <td><input type="number" id="cantidad{{ forloop.counter }}" value="{{ formula.cant_materia2 }}"></td>
                        <td>{{formula.costo_unitario2}}</td>
                    </tr>
                    {% endif %}
                    {% if formula.materia3 or formula.nombre_mp3 or formula.cant_materia3 or formula.costo_unitario3 %}
                    <tr>   
                        <td>{{formula.materia3}}</td>
                        <td>{{formula.nombre_mp3}}</td>
                        <td><input type="number" id="cantidad{{ forloop.counter }}" value="{{ formula.cant_materia3 }}"></td>
                        <td>{{formula.costo_unitario3}}</td>
                    </tr>
                    {% endif %}
                    {% if formula.materia4 or formula.nombre_mp4 or formula.cant_materia4 or formula.costo_unitario4 %}
                    <tr>   
                        <td>{{formula.materia4}}</td>
                        <td>{{formula.nombre_mp4}}</td>
                        <td><input type="number" id="cantidad{{ forloop.counter }}" value="{{ formula.cant_materia4 }}"></td>
                        <td>{{formula.costo_unitario4}}</td>
                    </tr>
                    {% endif %}
                    {% if formula.materia5 or formula.nombre_mp5 or formula.cant_materia5 or formula.costo_unitario5 %}
                    <tr>   
                        <td>{{formula.materia5}}</td>
                        <td>{{formula.nombre_mp5}}</td>
                        <td><input type="number" id="cantidad{{ forloop.counter }}" value="{{ formula.cant_materia5 }}"></td>
                        <td>{{formula.costo_unitario5}}</td>
                    </tr>
                    {% endif %}
                    {% if formula.materia6 or formula.nombre_mp6 or formula.cant_materia6 or formula.costo_unitario6 %}
                    <tr>   
                        <td>{{formula.materia6}}</td>
                        <td>{{formula.nombre_mp6}}</td>
                        <td><input type="number" id="cantidad{{ forloop.counter }}" value="{{ formula.cant_materia6 }}"></td>
                        <td>{{formula.costo_unitario6}}</td>
                    </tr>
                    {% endif %}
                    {% if formula.materia7 or formula.nombre_mp7 or formula.cant_materia7 or formula.costo_unitario7 %}
                    <tr>   
                        <td>{{formula.materia7}}</td>
                        <td>{{formula.nombre_mp7}}</td>
                        <td><input type="number" id="cantidad{{ forloop.counter }}" value="{{ formula.cant_materia7 }}"></td>
                        <td>{{formula.costo_unitario7}}</td>
                    </tr>
                    {% endif %}
                    {% if formula.materia8 or formula.nombre_mp8 or formula.cant_materia8 or formula.costo_unitario8 %}
                    <tr>   
                        <td>{{formula.materia8}}</td>
                        <td>{{formula.nombre_mp8}}</td>
                        <td><input type="number" id="cantidad{{ forloop.counter }}" value="{{ formula.cant_materia8 }}"></td>
                        <td>{{formula.costo_unitario8}}</td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>	
        </div>
        <button id="btnEnviar{{ forloop.counter }}" data-formula-id="{{ formula.cod_inventario.cod_inventario }}">Enviar</button>
    </div>
</div>
{%endfor%}

{%endblock areatrabajo%}


{%block javascrips%}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
    document.addEventListener('DOMContentLoaded', function () {
    const openModalButtons = document.querySelectorAll('.open-modal');
    const closeModalButtons = document.querySelectorAll('.close-modal');
    const overlay = document.querySelector('.modal');

    openModalButtons.forEach(button => {
        button.addEventListener('click', () => {
            const modal = document.querySelector(button.dataset.modalTarget);
            openModal(modal);
        });
    });

    closeModalButtons.forEach(button => {
        button.addEventListener('click', () => {
            const modal = button.closest('.modal');
            closeModal(modal);
        });
    });

    overlay.addEventListener('click', () => {
        const modals = document.querySelectorAll('.modal');
        modals.forEach(modal => {
            closeModal(modal);
        });
    });

    function openModal(modal) {
        if (modal == null) return;
        modal.style.display = 'block';
    }

    function closeModal(modal) {
        if (modal == null) return;
        modal.style.display = 'none';
    }

    // Controlador de evento para el botón de enviar
        const btnEnviar = document.querySelectorAll('[id^="btnEnviar"]');
        btnEnviar.forEach(button => {
        button.addEventListener('click', () => {
            const modal = button.closest('.modal');
            
            // Obtener los valores de los campos del modal
            const costosIndirectos = document.querySelector(`#costos${modal.id.replace('editModal', '')}`).value;
            const utilidad = document.querySelector(`#utilidad${modal.id.replace('editModal', '')}`).value;
            const iva = document.querySelector(`#iva${modal.id.replace('editModal', '')}`).value;
            const cantidadInputs = modal.querySelectorAll('tbody input[type="number"]');
            const cantidades = Array.from(cantidadInputs).map(input => input.value);
            const transformulasId = button.dataset.formulaId; 

        

            // Crear un objeto con los datos a enviar
            const data = {
                transformulasId: transformulasId,
                costosIndirectos: costosIndirectos,
                utilidad: utilidad,
                iva: iva,
                cantidades: cantidades
                // Agrega aquí los demás datos que desees enviar
            };
            console.log(data);

            if (confirm('¿Estás seguro de que deseas enviar estos datos?')) {
            // Enviar los datos mediante AJAX
                $.ajax({
                    url: "{% url 'actualizar_transformula'%}",
                    type: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        "X-CSRFToken": getCookie("csrftoken") 
                    },
                    data: JSON.stringify(data),
                    success: function(response) {
                        // Manejar la respuesta del servidor si es necesario
                        console.log('Datos enviados correctamente:', response);
                        closeModal(modal);
                        window.location.reload();
                    },
                    error: function(xhr, errmsg, err) {
                        // Manejar errores en la solicitud AJAX
                        console.error('Error al enviar los datos:', errmsg);
                    }
                })
            }else{
                // Si el usuario cancela, no hacer nada
                console.log('Envío cancelado por el usuario');
            }    
        })
    })
    
});

function getCookie(name) {
var cookieValue = null;
if (document.cookie && document.cookie !== '') {
    var cookies = document.cookie.split(';');
    for (var i = 0; i < cookies.length; i++) {
        var cookie = cookies[i].trim();
        // Verificar si la cookie comienza con el nombre deseado
        if (cookie.substring(0, name.length + 1) === (name + '=')) {
            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
            break;
        }
    }
}
return cookieValue;
}

    </script>
{%endblock%}