.tabla {
    max-width: 100%;
    margin: 20px auto;
    overflow-x: auto;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 15px rgba(0,0,0,0.1);
    max-height: 400px; /* Altura máxima de la tabla */
    overflow-y: scroll;
}

.table {
    width: 100%;
    border-collapse: collapse;

}

.table th,
.table td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

/* Encabezado de la tabla */
.encabezado td {
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
}

/* Cuerpo de la tabla */
.table tbody tr:hover {
    background-color: #f5f5f5;
}

/* Estilos para las celdas */
.table td {
    color: #333;
}

/* Estilos para el texto */
.table th, .table td {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Mejora de la accesibilidad en pantallas pequeñas */
@media screen and (max-width: 600px) {
    .table thead {
        display: none;
    }

    .table, .table tbody, .table tr, .table td {
        display: block;
        width: 100%;
    }

    .table tr {
        margin-bottom: 15px;
    }

    .table td {
        text-align: right;
        padding-left: 50%;
        text-align: right;
        position: relative;
    }

    .table td::before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 15px;
        font-weight: bold;
        text-align: left;
    }
}


/*estilos para el modal*/
.modal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 5px;
    max-width: 80%;
}

.close-modal {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-modal:hover,
.close-modal:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
a{
    color: black; /* Color de texto negro para todos los enlaces */
    text-decoration: none; /* Elimina cualquier decoración de texto */
}