@import url('https://fonts.googleapis.com/css?family=Montserrat|Montserrat+Alternates|Poppins&display=swap');
body{
    background-color:rgb(241, 241, 218);
    box-sizing: border-box;
}
h1{
    color: black;
    font-family: 'Montserrat Alternates', sans-serif;
    margin-bottom: 2px;
}

input{
    width: 100%;
    height: 30px;
    margin: 5px;
    border-radius: 10px;
    border-width: 1px;
    margin-left: 0;
    position:static;

}

a{
    width:  100%;
    margin-left: 32%;
    font-family: 'Montserrat Alternates', sans-serif;
    text-decoration: none;
}

.boton{
    background-color: rgb(94, 216, 175);

}
h6{
    margin-top: 2px;
    font-family: 'Montserrat Alternates', sans-serif;
}
div{
    width: 50%;
    margin-left: 25%;
    
}
.logo{
    margin-left: 35%;
    width: 30%;
}
button{
    background-color: aquamarine;
    margin-left: 25%;
    padding: 9px 100px;
    border-radius: 10px;
    border-width: 1px;
    width: 51%;

}

.crispy{
    width: 100%;
    margin-left: 0;
    

}


