<div class="tab-container">
    <div class="tab-buttons">
        <button class="tab-button active" data-tab="tabla-content">Elementos de la Orden</button>
        <button class="tab-button" data-tab="totales-content">Materias primas totales</button>
    </div>

    <div class="tab-content" id="tabla-content">
        <div class=" containertabla">
            <div class= "tabla">
                <table class="table" id="tabla-formulario">
                    <thead class="table">
                        <tr class="encabezado">
                            <td>ID Producto</td>
                            <td>Nombre</td>
                            <td> Cantidad</td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>	
            </div>
            <div class="info-container">
                <label for="existencias">Existencias Inventario</label>
                <div class="cantidades" id="existencias-inventario">
                    <div id="existencias-inventario">

                    </div>
                </div>
                <label for="materias">Materias Requeridas</label>
                <div class="cantidades"id="materias-primas">

                </div>
                <div class="responsable">
                    <label for="Responsable" class="responsable-label">Responsable Etiquetado</label>
                    <select name="responsable" id="Responsable" class="responsable-select">
                        <option value="">Responsable</option>
                        {%for usuario in usuarios%}
                            <option value="{{usuario.id}}">{{usuario.username}}</option>
                        {%endfor%}
                    </select>
                </div>
            </div>
            
        </div>
    </div>
    <div class="tab-content hidden" id="totales-content">
        <div class="totales-container">
            <div id="materias-primas-totales">
                <h4>Total de Materias Primas Requeridas</h4>
                <!-- Contenido generado dinámicamente por JavaScript -->
            </div>
            <!-- Aquí podrían añadirse otros totales si es necesario -->
        </div>
    </div>
</div>