{% extends "dashboard.html" %}
{% load static%}

{%block titulohoja%}
	<h2 class="titulo">Ordenes en Curso</h2>
{%endblock%}

{% block title %}
    <title>Ordenes Produccion</title>
{% endblock title %}




{% block areatrabajo %}
<script>
    var DetalleOrden = "{% url 'DetalleOrden' 0%}"
    var VerMateriasPrimas = "{%url 'obtenerMateriasPrimas'%}"
    var Producir = "{% url 'producir'%}"
    var IrAFacturar = "{% url 'ir_a_facturar' %}"
</script>

<link rel="stylesheet" href="{% static 'orden_curso.css' %}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script src="{% static 'orden_en_curso.js' %}"></script>


<div class= "tabla">
    <table class="table" id="tabla-formulario">
        <thead class="table">
            <tr class="encabezado">
                <td>Id Pedido</td>
                <td>Cliente</td>
                <td>Fecha de Entrega</td>
                <td>Prioridad</td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            {% for transaccion in transacciones %}
            <tr class="fila-transaccion" data-id="{{ transaccion.id_orden.id_orden }}"></tr>
                <td>{{ transaccion.id_orden.id_orden}}</td> 
                <td>{{ transaccion.id_orden.nit.nombre }}</td> 
                <td>{{ transaccion.fecha_entrega }}</td>
                <td>{{ transaccion.prioridad }}</td>
                <td>
                    <a href="{% url 'DetalleOrden' transaccion.id_orden.id_orden %}" title="Ver Detalles" class="open-modal" data-id="{{ transaccion.id_orden.id_orden }}"><i class="bi bi-eye"></i></a>
                    
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>	
</div>


<div id="modalDetalleOrden" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <div class="cabeceraModal">
            <h1>Detalle de Orden</h1>
            
            <div class="btn-facturacion">
                <button type="submit" id="bt-producir" data-id="{{ transaccion.id_orden.id_orden }}">Producir <i class="bi bi-gear"></i></button>
                <button type="submit" id="bt-facturacion" data-id="{{ transaccion.id_orden.id_orden }}">Enviar a Facturación <i class="bi bi-cash"></i></button>
            </div>
        </div>
        <div>
            <h4 class="responsable">Responsable de etiquetado:  <span id="responsableEtiquetado"></span></h4>
        </div>
        <div class="campoestado">
            <label for="estadoactual">Estado de la Orden</label>
            <h4 id="estado"></h4>
            
        </div>
        <div class="tab-container">
            <div class="tab-buttons">
                <button class="tab-button active" data-tab="tabla-content">Elementos de la Orden</button>
                <button class="tab-button" data-tab="totales-content">Materias primas totales</button>
            </div>
            <div class="tab-content" id="tabla-content">
                <div id="detallesOrden" class="tabla">
                    <table class="table" id="tabla-detalles">
                        <thead>
                            <tr class="encabezado">
                                <th>Código</th>
                                <th>Nombre</th>
                                <th>Cantidad</th>
                            </tr>
                        </thead>
                        <tbody>
                        
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="tab-content hidden" id="totales-content">
                <div class="totales-container">
                    <div class=" containertabla">
                        <div class= "tabla">
                            <div id="materias-primas-totales">
                                <table class="table"  id="materias-primas-table">
                                    <thead class="table">
                                        <tr class="encabezado">
                                            <td>Código</td>
                                            <td>Nombre</td>
                                            <td>Cantidad Requerida Total</td>
                                            <td>Disponible en Inventario</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <!-- Filas de tabla serán agregadas dinámicamente desde JavaScript -->
                                    </tbody>
                                </table>
                        </div>
                    </div>
                </div>
            </div>
    </div>  
</div>



{% endblock areatrabajo %}