{% extends "dashboard.html" %}
{% load static%}

{%block titulohoja%}
	<h2 class="titulo">Pedido a Producir</h2>
{%endblock%}


{% block title %}
	<title>Pedido</title>
{% endblock title %}
{% block areatrabajo %}
    <script>
        var obtenerorden = "{% url 'obtener_numero_produccion'%}"
        var materiasprimas ="{% url 'obtenerMateriasPrimas'%}"
		var ordenProduccion = "{% url 'ordenProduccion'%}"
    </script>
    <link rel="stylesheet" href="{% static 'pedidos.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="{% static 'pedidos.js' %}"></script>
	
    
	<div class="container">
		<div class="form-container">
			<div class="left-column">
				<div class="selector-container">
					<div class="campofactura">
						<input type="int" id="numeroFactura" required placeholder="Ingrese el número de factura">
					</div>
					<div class="campofecha">
						<input type="date" id="fechaCreacion">
					</div>
				</div>
				<div class="selector-container">
                        <select class="js-example-basic-single" name="state" id="id_cliente">
                            <option value="">Selecciona un cliente</option>
                            {%for cliente in clientes %}
                            <option value="{{cliente.nit}}" data-nit="{{cliente.nit}}" data-direccion="{{cliente.direccion}}" data-telefono="{{cliente.telefono}}">{{cliente.nit}} -- {{cliente.nombre}}</option>
                            {%endfor%}
                        </select>
					<button id="addprov" class="addprov" >+</button>
				</div>
				
				<div class="selector-container">
					<select class="js-example-basic-single" name="producto" id="producto" >
                        <option value="">Seleccione Productos</option>
                        {%for producto in productos %}
						<option value="{{producto.cod_inventario}}">{{producto.cod_inventario}}--{{producto.nombre}}</option>
                        {%endfor%}
					</select>
					<button id="addprod" class="addprod">+</button>
				</div>
			</div>
			<div class="right-column">
				<div class="info">
					<div id="nitproveedor">NIT</div>
					<div id="direccion">DIRECCION</div>
					<div id="telefono">TELEFONO</div>
				</div>
				<div id="totalFactura">
					<div class="campofechacliente">
                        <label for="">Fecha estimada Entrega</label>
						<input type="date" id="fechaEntrega">
					</div>
                    <div class="Prioridad">
                        <label for="">Prioridad</label>
                        <select name="prioridad" id="prioridad">
                            <option value="no urgente">No Urgente</option>
                            <option value="menos urgente">Menos Urgente</option>
                            <option value="urgente">Urgente</option>
                        </select>
                        
                    </div>
				</div>
				<div>
					<button id="enviarFormularioBtn">Enviar a Producción</button>
				</div>
			</div>
		</div>
	</div>

	<div id="miModal" class="modal">
		<div class="modal-content">
			<span class="close">&times;</span>
			<div class="form-container2">
				<form action="{%url 'addcliente'%}" method="post" class="form-box" onsubmit="return confirmarEnvio()">
					{% csrf_token %}
				<h2>Agregar Cliente nuevo</h2>
				<div class="form-group">
					<label for="nit">NIT:</label>
					<input type="number" id="nit" name="nit" required>
				</div>
				<div class="form-group">
					<label for="name">Nombre:</label>
					<input type="text" id="nombreproveedor" name="name" required>
				</div>
				<div class="form-group">
					<label for="direccion">Dirección:</label>
					<input type="text" id="direccion" name="direccion" required>
				</div>
				<div class="form-group">
					<label for="telefono">Teléfono:</label>
					<input type="number" id="telefono" name="telefono" required>
				</div>
                <div class="form-group">
					<label for="email">Email:</label>
					<input type="Email" id="email" name="email" required>
				</div>
					<button type="submit" class="addcliente">Guardar cliente</button>
				</form>
			</div>
			{% if clientes_existente %}
            <script>
                alert("¡El Cliente con este NIT ya existe en la base de datos!");
            </script>
        {% endif %}
		</div>
	</div>

	<div id="miModal2" class="modal">
		<div class="modal-content">
			<span class="closemodal2">&times;</span>
			<div class="form-container2">
				<form action="{% url 'guardar'%}" method="post" class="form-box" id="formulario">
					{% csrf_token %}
					<h2>Agregar Producto nuevo</h2>
					<div class="form-group">
						<label for="idproducto">Id Producto:</label>
						<input type="number" id="identificador" name="identificador" required>
					</div>
					<div class="form-group">
						<label for="nombreproducto">Nombre:</label>
						<input type="text" id="nombre" name="nombre" required>
					</div>
					<div class="form-group">
						<label for="nitproveedor">NIT Proveedor:</label>
						<input type="number" id="provee" name="provee" required>
					</div>
					<button type="submit" class=" addprove">Enviar</button>
				</form>
			</div>
		</div>
	</div>
	
	<div class="tab-container">
		<div class="tab-buttons">
			<button class="tab-button active" data-tab="tabla-content">Elementos de la Orden</button>
			<button class="tab-button" data-tab="totales-content">Materias primas totales</button>
		</div>
	
		<div class="tab-content" id="tabla-content">
			<div class=" containertabla">
				<div class= "tabla">
					<table class="table" id="tabla-formulario">
						<thead class="table">
							<tr class="encabezado">
								<td>ID Producto</td>
								<td>Nombre</td>
								<td> Cantidad</td>
								<td></td>
							</tr>
						</thead>
						<tbody>
						</tbody>
					</table>	
				</div>
				<div class="info-container">
					<label for="existencias">Existencias Inventario</label>
					<div class="responsable">
						<label for="Responsable" class="responsable-label">Responsable Etiquetado</label>
						<select name="responsable" id="Responsable" class="responsable-select">
							<option value="">Responsable</option>
							{%for usuario in usuarios%}
								<option value="{{usuario.id}}" data-nombre="{{ usuario.username }}">{{usuario.username}}</option>
							{%endfor%}
						</select>
					</div>
				</div>
				
			</div>
		</div>
		<div class="tab-content hidden" id="totales-content">
			<div class="totales-container">
				<div class=" containertabla">
					<div class= "tabla">
						<div id="materias-primas-totales">
							<table class="table"  id="materias-primas-table">
								<thead class="table">
									<tr class="encabezado">
										<td>Código</td>
										<td>Nombre</td>
										<td>Cantidad Requerida Total</td>
										<td>Disponible en Inventario</td>
									</tr>
								</thead>
								<tbody>
									<!-- Filas de tabla serán agregadas dinámicamente desde JavaScript -->
								</tbody>
							</table>
					</div>
				</div>
			</div>
		</div>
	</div>

		
	

{% endblock areatrabajo %}	

